<div class="container container-table">
<div class="" ng-controller="YelpCtrl">
	
</div>
<div class="row" class="center">
  <div class="text-center home-logo">	
		<img src="/img/wormburnerlogo.png">
	</div>
</div>
<div class="text-center">
	<h2>Find local courses now!!</h2>
	<a class="btn btn-success btn-lg btn-block" ng-click="getGolfDeals()">Local Courses</a>
</div>	
  <hr>	 


 <div class="bottom-buttons">
 	<p>
	  <a class="btn btn-primary right" data-ng-href="/login">Login</a>
	  <a class="btn btn-success right" data-ng-href="/register">Register</a>
	</p>
 </div>
 </div>

