<div class="row" class="center">
  <div class="col-sm-12 col-md-12"></div>
  <div class="text-center home-logo">
    <img class="WBlogo-login" src="/img/WormBurner_ChromeLogo.png">
  </div>
	<h2 class="text-center lead">Golf Awaits</h2>
</div>
<div class="register" ng-controller="RegisterCtrl">
  <p ng-if="message">Message: <strong>{{ message }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>

  <!-- <div  class="jumbotron signup"> -->
     <h2>Register</h2>
    	<form class="signup">
        <div class="form-group">
          <label for="Email">Email address</label>
          <input ng-model="email" type="email" class="form-control" id="Email" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="Password1">Password</label>
          <input ng-model="password" type="password" class="form-control" id="Password" placeholder="Password">
        </div>
         <div class="form-group">
          <label for="Password2">Confirm Password</label>
          <input  ng-model="confirmpassword" type="password" class="form-control" id="Password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="InputUserName">User Name</label>
          <input  ng-model="userName" type="text" class="form-control" id="UserName" placeholder="User Name">
        </div>


     	  <button ng-click="createUser()" class="btn btn-success">Register</button>
          <br><br>
        <button ng-click="removeUser()" class="btn btn-danger">Remove User</button>
        </form>
    <div class="row">
    <hr>
        <p class="text-center">- OR -</p>
        <h4 class="text-center">Secure Social login</h4>
        <div ng-controller="FBCtrl">
        <div ng-hide="authData">
        <form>
            <button ng-click="auth.$authWithOAuthPopup('facebook')" class="btn btn-default facelog center-block">Login With Facebook</button>
        </form>
        </div>
        <div class="FBauthdata" ng-show="authData">
          <img src="{{authData.facebook.profileImageURL}}">
          <p>Hello, {{ authData.facebook.displayName }}</p>
          <p>{{userData.uid}}</p>
          <button ng-click="auth.$unauth()" class="btn btn-danger facelog center-block">Logout</button>
        </div>
      </div>
  </div>
  <!-- </div> -->
</div>
  <div class="row bottom">
      <p class="text-center already">Already a member? <a href="/login">Sign in Here</a></p>
  </div>
</div>
