

<div class="dashboard">
	<div class="col-sm-2 text-center">
		<h3 class="AccountName"><img class="user" src="../img/user.png" alt="" /><strong>{{user.userName}}<hr></strong></h3>
	</div>


	<div class="col-sm-6 col-sm-offset-1">
		<h2>Your Favorited Courses:</h2>
	 <div class="" ng-controller="YelpCtrl">
	 <div data-ng-repeat="favorite in favorites">
		 <div class="row text-center">
			 <li class="favoritesList">{{ favorite.$value }}</li>
		 </div>
	 </div>
	 </div>
	</div>
	<div class="row">
		<div class="col-md-6 center">
		 <h1>ScoreCards</h1>
	  </div>
	</div>
<div class="ScoreCard">
 <!-- the scorecard is split to view the front 8 and the back 9 repsonsively -->
<div class="table-responsive">
	<table class="table table-hover">
<div class="" ng-controller="DashboardCtrl">
<div class="row">
	<div class="scoreName col-md-6">
		<!-- this dynamically displays the curent card course name -->
		<h3>{{ card.name }}</h3>
	</div>
	<div class="scoreDate col-md-6">
		<h3>Course Date:{{today}}</h3>
	</div>
</div>
</div>
		<thead>
			<th>Name</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>OUT</th>
		</thead>
		<tbody>
			<tr class="success" ng-repeat="card in cards">
				<td id="playerName">{{card.user}}</td>
					<td id="hole{{$index}}" ng-repeat="score in card.front = (card.scores | limitTo:9) track by $index">
						<input type="number" class="form-control input-md col-sm-1" ng-model="card.scores[$index]">
					</td>
	<!-- The front nine holes are totaled individually form the back nine holes for a nine hole game. -->
					<td id="front9Total">{{card.frontTotal = sum(card.front)}}</td>
			</tr>
			<th>Back Nine</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
			<th>13</th>
			<th>14</th>
			<th>15</th>
			<th>16</th>
			<th>17</th>
			<th>18</th>
			<th>IN</th>
			<tr class="success" ng-repeat="card in cards">

				<td id="playerName">{{card.user}}</td>

					<td id="hole{{$index+8}}" ng-repeat=" score in card.scores | limitTo:9:9 track by $index">
						<input type="number" class="form-control input-md col-sm-1" ng-model="card.scores[$index+8]">
					</td>
					<td id="back9Total">{{card.total = sum(card.scores)}}</td>
			</tr>

			<tr>
				<td>
 <!-- The abilty to save the score with front total and back total with the saveCards function -->
					<a class="btn btn-primary" ng-click="saveCards()">Save</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
</div>
