<div class="register" ng-controller="RegisterCtrl">
	<button ng-click="auth.$unauth()" class="btn btn-right">Logout</button>
</div>
<div class="dashboard">
	<div class="col-sm-2 text-center">
		<h3 class="AccountName"><img class="user" src="../img/user.png" alt="" /><strong>{{user.userName}}<hr></strong></h3>
	</div>
	<div  class="col-sm-6 col-sm-offset-1">
		<h2>Your Favorited Courses:</h2>
	 <div class="" ng-controller="YelpCtrl">
	 <div data-ng-repeat="favorite in favorites">
		 <div class="row text-center">
			 <li class="favoritesList">{{ favorite.$value }}</li>
		 </div>
	 </div>
	 </div>
	</div>
</div>
