/*######################  General #####################################  */
/*###########################  Styles  #####################################  */
body {
  background-attachment: fixed;
  background-image: url("../img/light_honeycomb.png"); }

.olivetext {
  color: #5b9c01; }

button, html, h1, input, select, textarea {
  font-family: Roboto,'Helvetica Neue',sans-serif;
  color: #7A9E35; }

footer {
  padding-top: 19px;
  color: #777; }

#rectt {
  margin-top: 50px;
  width: 100%;
  height: 12px;
  background: #000; }

#rectb {
  width: 100%;
  height: 12px;
  background: #000; }

.container {
  padding: 20px;
  background-image: url("../img/hixs_pattern_evolution.png"); }

/*######################  Blog Grid #####################################  */
/*###########################  Styles  #####################################  */
.portfolio-item .text {
  padding: 2%; }

.portfolio-item a {
  color: #5b9c01; }

.portfolio-item p {
  color: gray; }

/*######################  Weather Widget #####################################  */
/*###########################  Styles  #####################################  */
.weather {
  margin-left: 10%; }

#location, #conditons, #temperature, #wind_condition {
  font-weight: bold;
  color: #948d33; }

div.inline {
  float: left;
  margin-left: 2%; }

/*######################  Map #####################################  */
/*###########################  Styles  #####################################  */
.map {
  margin: auto; }

.angular-google-map-container {
  height: 250px; }

/*######################  data card #####################################  */
/*###########################  Styles  #####################################  */
.greeny {
  background-color: #948d33;
  color: white;
  border-radius: 0px; }

.black {
  background-color: #000;
  color: white;
  border-radius: 0px; }

.clubphoto {
  height: 150px;
  margin-left: 20%;
  border-radius: 50%; }

.data-title {
  color: #948d33;
  font-family: 'NexaRustSlab-BlackShadow01-Free-webfont'; }

.results {
  margin: 0 !important; }

.data {
  padding: 1%;
  border-bottom: 2px solid gray;
  margin-bottom: 10px; }

.biz {
  font-family: "Roboto", sans-serif;
  color: #5b9c01; }

.address {
  margin-left: 10%;
  color: gray; }

.scorebtn {
  margin-top: 10px; }

.yelpicon {
  width: 100px; }

.yelptextlogo {
  width: 75px; }

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/*######################  navigation #####################################  */
/*###########################  Styles  #####################################  */
.header {
  color: white; }

.indnav {
  font-size: 15px;
  color: #7A9E35; }

a.indnav:hover {
  color: white;
  background-color: transparent !important;
  -webkit-transform: scale(1.2); }

.menulogo {
  height: 50px;
  width: 90px; }

.menulogo:hover {
  -webkit-transform: scale(1.2); }

.WBlogo-index {
  height: 200px;
  width: 330px;
  margin: 25px auto; }

.local {
  height: 20px;
  width: 50%; }

.bottom-buttons {
  margin-top: 50px; }

.lead {
  font-family: 'nexa_rust_script_l0regular';
  color: white; }

/*######################  WebFont #####################################  */
/*###########################  Styles  #####################################  */
h1.text-center.wormbanner {
  font-family: 'NexaRustSlab-BlackShadow01-Free-webfont';
  color: #7A9E35; }

h1.extras {
  font-family: 'NexaRustExtras-Free-webfont';
  font-size: 200px;
  margin-top: 0px;
  color: #7A9E35; }

.lead {
  font-family: 'nexa_rust_script_l0regular'; }

/*######################  NavBar #####################################  */
/*###########################  Styles  #####################################  */
.brand {
  width: 100px; }

/*jumbotron styles*/
.jumbotron {
  width: 70%;
  margin: auto; }

.jumbotron.signup {
  background-color: #948d33;
  color: white;
  width: 70%;
  margin: auto;
  box-shadow: 10px 10px 5px #888888; }

.jumbotron.ng-scope {
  background-color: rgba(25, 25, 25, 0.5);
  text-align: center; }

/*######################  Login Page #####################################  */
/*###########################  Styles  #####################################  */
.login label {
  color: gray; }
.login #loginInputEmail {
  border-radius: none !important; }

.WBlogo-login {
  height: 120px;
  width: 230px;
  margin: auto; }

/*######################  Sign UP #####################################  */
/*###########################  Styles  #####################################  */
.register {
  color: #948d33; }
  .register .FBauthdata {
    margin: auto; }

form.signup {
  width: 70%;
  margin: auto; }

button.facelog {
  background-color: #4D6C8C;
  color: white; }

.already {
  color: white;
  margin-top: 50px; }

/*######################  Dashboard Page #####################################  */
/*###########################  Styles  #####################################  */
img.user {
  height: 50px; }

.dashboard {
  color: #948d33; }

li.favoritesList {
  color: #5b9c01;
  font-family: "Roboto", sans-serif;
  list-style-type: none; }

/*######################  Score Card #####################################  */
/*###########################  Styles  #####################################  */
.card {
  background-color: #948d33;
  color: #fff; }

.highlight {
  background-color: #4D6C8C;
  color: #fff; }

/*######################  Customize #####################################  */
/*###########################  Styles  #####################################  */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px; } }
.container-narrow > hr {
  margin-bottom: 30px 0; }

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0px;
    padding-left: 0px; }

  .jumbotron {
    border-bottom: 0; } }

/*# sourceMappingURL=wormstyles.css.map */
